body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

h1 {
  font-size: clamp(2rem, 5vw, 4.0rem);
  font-family: 'Spectral', serif;
}

h2 {
  font-size: clamp(1.2rem, 4vw, 3.2rem);
  font-family: 'Spectral', serif;
  line-height: 50px;
  letter-spacing: 2px;
}

h3 {
  font-size: clamp(1.3rem, 2vw, 2rem);
  border-bottom: #4a5859 solid 2px;
  padding-bottom: 10px;
  min-width: 30%;
}

h4 {
  font-size: clamp(1.2rem, 5vw, 1.7rem);
  border-bottom: #4a5859 solid 2px;
  padding-bottom: 10px;
  width: 125px;
}

p {
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 2.4rem;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER */

header {
  background-color: #4a5859;
  color: white;
  padding: 10px;
  
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* BANNER */

.bannerImg {
  background: url('./mark-teachey-TfIQZ2gFEvI-unsplash.jpg');
  background-position: center;
  height: 50vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

.bannerTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
}

.bannerText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 12, 11, 0.9);
  padding: 100px;
  color: white;
  text-align: center;
  margin: 0 150px;
}

main {
  min-height: calc(100vh - 180px);
}


/* NEW PRACTICE SESSION */

.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 500px;
  margin-bottom: 20px;
  padding: 15px;
  border: #32373b solid 5px;
}

form label {
  font-size: clamp(1rem, 3vw, 3rem);
  font-family: 'Spectral', serif;
  margin: 10px 0;
}

form input {
  height: 200px;
  width: 100%;
}

form button {
  margin-top: 10px;
  color: white;
  background-color: #4a5859;
  border: none;
  padding: 15px;
}

textarea {
  resize: none;
  width: 100%;
  height: 100%;;
}

/* NOTES SECTION */

.listContainer {
  margin: 50px 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 20px;
  max-width: 50%;
  min-width: 30%;
  padding: 25px;
}

li span {
  font-size: 25px;
  color: #0073ff;
  margin-right: 5px;
}

svg {
  pointer-events: none;
}

.border {
  border: black solid 2px;
}

.dateContainer {
  display: flex;
  justify-content: space-between;
}

.dateContainer button {
  padding: 5px;
  margin-left: 5px;
  background-color: white;
  border: none;
  transition: .5s
}

.dateContainer button:hover {
  transform: scale(1.5);
}

.iconDelete,
.iconMinus {
  color: black;
  font-size: 20px;
  border: none;
}

.iconDelete:hover {
  color: red;
}

.iconMinus:hover {
  color: #0073ff;
}

/* This class is toggeled via js */
.noteDetails {
 display: none;
 
}


li p {
  margin: 20px 20px;
  color: black;
}

.repContainer {
  margin: 30px 0;
}

.noteContainer {
  background-color: white;
}

/* FOOTER */

footer {
  background-color: black;
  position: absolute;
  margin-top: 100px;
  width: 100%;
  padding: 10px;
}

.footerContainer {
  display: flex;
  justify-content: center;
  color: white;
}

.footerContainer a {
  text-decoration: none;
  color: white;
}